# ===== DATASETS (muy pesados para Git) =====
dataset/
data/dataset/


# ===== PYTHON =====
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg
.eggs/
venv/
env/
.venv/

# ===== TEMPORALES =====
*.mp4
temp.*
*.log

# ===== IDE / EDITOR =====
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
